<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>PLUGINS CORDOVA</h2>
    <button class="button button-full button-positive" ng-click="Vibrar()">
      Vibrar
    </button>
    <button class="button button-full button-positive" ng-click="PararVibrar()">
      Parar Vibrar
    </button>
    <button class="button button-full button-balanced" ng-click="EncenderLinterna()">
      Encender Linterna
    </button>
    <button class="button button-full button-balanced" ng-click="ApagarLinterna()">
      Apagar linterna
    </button>
    <button class="button button-full button-assertive" ng-click="Sonido1()">
      Sonido 1
    </button>
    <button class="button button-full button-assertive" ng-click="Sonido2()">
      Sonido 2
    </button>
  </ion-content>
</ion-view>
