<ion-view >
  <ion-content class="padding">
    <h2>Sonido Animales</h2>
    <button class="botones" ng-click="">
      Pato
    </button>
    <button class="botones" ng-click="">
      Perro
    </button>
    <button class="botones" ng-click="">
      Gato
    </button>
    <button class="botones" ng-click="">
      Vaca
    </button>
    <button class="botones" ng-click="">
      Caballo
    </button>
    <button class="botones" ng-click="">
      Oveja
    </button>
  </ion-content>
</ion-view>
